.books {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
}

.separator {
  height: 0;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2rem 0;
}

a {
  text-decoration: none;
}
