.book-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.book-title {
  margin-top: 0.188rem;
  font-size: 1.375rem;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

.book-author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  margin-top: 0.25rem;
}

.actions-li {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
}

.actions-li li button {
  background: none;
  border: none;
  margin-right: 1rem;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  align-items: center;
  color: #3c88ca;
  font-size: 0.875rem;
  cursor: pointer;
}

.book-category {
  color: #181717;
  font-weight: 700;
  opacity: 0.5;
  font-size: 0.875rem;
}

.progress-info {
  display: flex;
  align-items: center;
}

.progress-bar {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #0290ff;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.progress-percent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #121212;
}

.percent {
  font-size: 2rem;
}

.completed {
  font-size: 1rem;
  opacity: 0.5;
}

.chapter-info {
  display: flex;
  flex-direction: column;
}

.current-chapter {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
  font-size: 0.813rem;
  opacity: 0.5;
  text-transform: uppercase;
}

.chapter {
  margin: 0.438rem 0;
  font-size: 1.2rem;
  color: #121212;
}

.update-btn {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
}
