.header {
  padding: 1.2% 4%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 80px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

a.nav-item {
  color: #121212;
  opacity: 0.5;
  text-transform: uppercase;
}

.nav-list .books {
  opacity: 1;
  letter-spacing: 2px;
}

.user-img {
  height: 40px;
  width: 40px;
}
